/*
    General Styles
*/
body{
    background: url(https://i.ytimg.com/vi/S19Wnk5eeY8/maxresdefault.jpg);
  background-size: cover;
}
h1,p{
    color: white;
}
img{
    width: 200px !important;
}
a{
    text-decoration: none !important;
    color: black;
}
.blanco{
    color: white,
}